#LoadingScreen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#LoadingScreenScreenshot {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#LoadingScreenTransition {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
