#Tutorial {
    align-items: center;
}

#TutorialInfo {
    position: absolute;
    width: 900px;
    height: 600px;
    background-image: url('project://database/Assets/UI/Textures/LargeBackground.png?fileID=2800000&guid=6b7c30f4be77e454c8a49b0bca12e04d&type=3#LargeBackground');
    -unity-background-image-tint-color: var(--background-background-tint);
    bottom: 50px;
}
