#Tutorial {
    align-items: center;
    justify-content: center;
}

#TutorialInfo {
    position: absolute;
    width: 800px;
    height: 600px;
    background-image: url('project://database/Assets/UI/Textures/LargeBackground.png?fileID=2800000&guid=6b7c30f4be77e454c8a49b0bca12e04d&type=3#LargeBackground');
    -unity-background-image-tint-color: var(--primary-color-1);
    top: 350px;
    -unity-background-scale-mode: scale-to-fit;
}
